#cf-invalidator {
	background-image: url(http://cdn.swook.net/css/cf-bg.png);
	padding: .5em;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: 0 0 4px #DDD;
	width: 642px;
	height: 540px;
}

#cf-invalidator #cf-clicktrap {
	position: absolute;
	background-color: rgba(225, 225, 225, 0.3);
	width: 642px;
	height: 540px;
	display: none;
	margin: -.5em -.5em;
	padding: .5em .5em;
	z-index: 100;
}

#cf-invalidator #hermes {
	background-repeat: no-repeat;
	background-position: 10px center;
	z-index: 1;
	height: 20px;
	padding: 0px 8px;
	margin: .8em auto;
	color: green;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-size: 13px;
	text-align: center;
	width: 75%;
}

#cf-invalidator #cf-messages {
	float: left;
	width: 245px;
	height: 80px;
	margin: 1em .4em;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0 0 2px #BBB;
	padding: 1em;
	font-family: Cagliostro;
	overflow: auto;
}

#cf-messages span.title {
	display: block;
	font-weight: 500;
	font-size: 16px;
}

#cf-messages span.desc {
	color: #555;
	font-size: 11px;
	margin-left: .4em;
	text-align: justify;
}

#cf-invalidator #cf-form {
	height: 170px;
	width: 50%;
	margin: 1em .4em;
	margin-left: 49%;
}

#cf-form #cf-access,
#cf-form #cf-secret,
#cf-form #cf-distro {
	margin-bottom: .5em;
	text-align: right;
}

#cf-form span {
	float: left;
	line-height: 1.8em;
	margin-bottom: 0;
}

#cf-form a {
	text-align: right;
	vertical-align: sub;
	font-style: italic;
	font-size: 9px;
	margin-right: .5em;
	line-height: 1.8em;
	margin-bottom: 0;
}

#cf-form input {
	width: 300px;
	outline: none;
	margin-top: -5px;
	border: solid 1px #AAA;
}

#cf-form input:focus {
	box-shadow: 0 0 5px #AAA;
}

#cf-privacy {
	margin: -58px 0 0 5px;
	float: left;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background-color: #FCC;
	padding: 1px 7px;
	border: 1px solid #CAA;
	line-height: 17px;
}

#cf-privacy input[type=checkbox] {
  margin: 2px;
  height: 13px;
  width: 13px;
}

#cf-tabs {
	margin-top: -1.8em;
	margin-bottom: 0;
}

#cf-tabs span {
	cursor: pointer;
	display: inline-block;
	padding: .5em .9em;
	margin-left: .4em;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: white;
	font-weight: bold;
	box-shadow: 0 -2px 2px #DDD;
	border-left: solid 1px #DDD;
	border-right: solid 1px #DDD;
}
#cf-tabs span:hover {
	box-shadow: 0 -1px 1px #783F04;
}

#cf-pages {
	padding: .5em;
	margin-top: 0;
	margin-bottom: .5em;
	margin-left: .4em;
	margin-right: .4em;
	height: 288px;
	background-color: white;
	border-left: solid 1px #DDD;
	border-right: solid 1px #DDD;
	box-shadow: 0 3px 3px #DDD;
	overflow-y: auto;
}

#cf-pages .get {
	width: 600px;
	margin: 10px auto;
}

#cf-pages .instruction {
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
}
#cf-pages .refresh {
	background-image: url(http://cdn.swook.net/css/refresh.png);
	background-repeat: no-repeat;
	background-position: 7px center;
	background-color: #FAFAFA;
	border: solid 1px #DDD;
	box-shadow: 0 0 3px #EEE;
	width: 110px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	margin-top: -24px;
	margin-right: 9px;
	padding-left: 20px;
	float: right;
	cursor: pointer;
	color: #666;
}
#cf-pages .refresh:hover {
	color: black;
	box-shadow: 0 0 10px #DDD;
}
#cf-pages .get .inval {
	background-color: #F9F9F9;
	background-repeat: no-repeat;
	background-position: 10px 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 3px 15px;
	margin: 4px 0;
	border: solid 1px #DFDFDF;
	cursor: pointer;
}
#cf-pages .get .inval:hover {
	box-shadow: 0 0 5px #DDD;
}
#cf-pages .get .inprogress {
	background-image: url(http://cdn.swook.net/css/loading.gif);
}
#cf-pages .get .completed {
	background-image: url(http://cdn.swook.net/css/ok.png);
}
#cf-pages .get .inval span.inval-ID {
	margin-left: 30px;
}
#cf-pages .get .inval span.inval-Status {
	float: right;
}
#cf-pages .inval .refresh {
	background-image: url(http://cdn.swook.net/css/refresh.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: inherit;
	height: 16px;
	width: 16px;
	float: right;
	position: relative;
	top: 68px;
	left: 69px;
	border: none;
	box-shadow: none;
}
#cf-pages .get .inval table {
	cursor: default;
	margin: 15px 0 5px 30px;
	padding: .5em;
	border: solid 1px #666;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width: 540px;
}
#cf-pages .get .inval table ul {
	list-style-type: circle;
}
#cf-pages .get .inval table ul li {
	margin-left: -15px;
}
#cf-pages .get .inval table ul li:only-child,
#cf-pages .get .inval table ul li.showmore {
	list-style-type: none;
	margin-left: -15px;
	cursor: pointer;
	color: #783F04;
}
#cf-pages .get .inval table ul li.hidden {
	display: none;
}
#cf-pages .get .inval div.resubmit:before {
	content: "";
	position: relative;
	float: left;
	top: -3px;
	left: -25px;
	width: 0;
	height: 0;
	border-color: #666 transparent transparent transparent;
	border-style: solid;
	border-width: 24px 0 0 24px;
}
#cf-pages .get .inval div.resubmit:hover:before {
	border-color: #777 transparent transparent transparent;
}
#cf-pages .get .inval div.resubmit {
	position: relative;
	text-align: center;
	font-weight: bold;
	color: white;
	width: 236px;
	margin: -6px -2px 5px auto;
	border: 1px solid #666;
	border-bottom-leftt-radius: 1px;
	-webkit-border-bottom-left-radius: 1px;
	-moz-border-bottom-left-radius: 1px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	background-color: #666;
	padding: 2px 20px 2px 0;
}
#cf-pages .get .inval div.resubmit:hover {
	background-color: #777;
	border-color: #777;
}
#cf-pages .toolbar {
	margin: 9px 0;
	text-align: center;
	padding-bottom: 13px;
	border-bottom: 1px solid #DDD;
}
#cf-pages .toolbar > * {
	display: inline;
	padding: .6em 1.2em .6em 2.6em;
	background-color: #FBFBFB;
	border: 1px solid #DDD;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	margin: .5em;
	background-repeat: no-repeat;
	background-position: 9px center;
	cursor: pointer;
}
#cf-pages .toolbar > *:hover {
	box-shadow: 0 0 5px #DDD;
}
#cf-pages .toolbar .addall {
	background-image: url(http://cdn.swook.net/css/more.png);
}
#cf-pages .toolbar .removeall {
	background-image: url(http://cdn.swook.net/css/delete.png);
}
#cf-pages .toolbar .submit {
	background-image: url(http://cdn.swook.net/css/ok.png);
}
#cf-pages .pastpaths {
	padding: .4em;
	width: 179px;
	float: left;
	height: 225px;
	overflow-y: auto;
}
#cf-pages .pastpaths .entry {
	padding: 2px 5px 2px 5px;
	border: 1px solid #EEE;
	background-color: #FAFAFA;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	overflow: hidden;
	margin: 2px 0;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 97% 4px;
}
#cf-pages .pastpaths .entry span.timeago {
	font-size: 10px;
	color: #777;
	text-align: right;
	display: block;
}
#cf-pages .pastpaths .entry:hover {
	background-image: url(http://cdn.swook.net/css/more.png);
	box-shadow: 0 0 5px #DDD;
}

#cf-pages .currentpaths {
	padding: .4em;
	width: 399px;
	float: right;
	height: 225px;
	overflow-y: auto;
}
#cf-pages .currentpaths h2 {
	text-align: right;
}
#cf-pages .currentpaths input {
	color: black;
}
#cf-pages .currentpaths input:disabled {
	background-color: transparent;
	outline: none;
	border: none;
	box-shadow: none;
	color: black;
	width: 100%;
}
#cf-pages .currentpaths .path {
	background-repeat: no-repeat;
	background-position: 8px center;
	padding: 2px 5px 2px 32px;
	margin: 2px 0;
	background-color: transparent;
}
#cf-pages .currentpaths .path img.delete {
	display: none;
	float: left;
	margin-left: -29px;
	background-color: transparent;
	margin-top: -2px;
	box-shadow: none;
	border: none;
	cursor: pointer;
}
#cf-pages .currentpaths .path:hover img.delete {
	display: inline;
}
#cf-pages .currentpaths .path span.add {
	display: none;
}
#cf-pages .currentpaths .invalid {
	background-color: #FFAAAA;
}
#cf-pages .currentpaths .invalid img.delete {
	display: inline;
}
#cf-pages .currentpaths .invalid input {
	text-decoration: line-through;
	width: 200px;
}
#cf-pages .currentpaths .invalid span.error {
	display: inline;
	float: right;
	padding: 2px 5px;
}
#cf-pages .currentpaths .new-entry {
	background-color: #F8F8F8;
	border: 1px solid #DDD;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin: 2px 5px 2px 32px
}
#cf-pages .currentpaths .new-entry input {
	width: 200px;
	margin: 5px 10px 5px 0;
	border: solid 1px #DDD;
	padding: 2px;
}
#cf-pages .currentpaths .new-entry span.add {
	display: inline;
	cursor: pointer;
	background-color: #EAEAEA;
	padding: 2px 10px;
	margin-left: 5px;
	border: 1px solid #DDD;
	box-shadow: 0 0 2px #DDD;
}
#cf-pages .currentpaths .new-entry span.add:hover {
	box-shadow: 0 0 5px #DDD;
}
